<header id="sect-navbar">
    <div class="container">
        <div class="d-flex align-items-center justify-content-center cursor-pointer" style="gap: 15px"><img alt="Logo Sicoob"
                onclick="window.open('../', '_self');"
                src="../assets/images/logo-site.svg" /></div>
    
        <div class="menu-links">
            <a href="#sect-convite" target="">Objetivo</a>
            <a href="#sect-acoes" target="">A história de Alfredo</a>
            <a href="#sect-projetos" target="">Os filhos de Alfredo</a>
            <a href="#sect-projetos" target="">Espaço Informativo</a>
            <a href="#sect-projetos" target="">Mensagem</a>
        </div>
        <a class="nav-menu-btn" onclick="toggleMenu()"> 
            <svg width="25" style="fill: #ffffff;" viewbox="0 0 448 512" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z">
                </path>
            </svg> 
        </a>
    
        <div class="menu-background" onclick="closeMenu()">&nbsp;</div>
    </div>

</header>